<!-- Header -->

<div class="row">
    <div class="col-md-12">
        <!-- Place holder for background image -->
        <div id="bg" class="py-3 text-center" style="background-image: url(images/bg1.jpg); border: 1px solid black;">
            <div class="bottom-right">
                <a href="/" id="home" class="btn btn-default btn-circle"><i class="fas fa-home"
                        style="text-shadow: 2px 2px 5px #000;"></i></a>
                <a href="/portfolio" id="portfolio" class="btn btn-default btn-circle"><i class="fas fa-project-diagram"
                        style="text-shadow: 5px 5px 5px #000;"></i></a>
                <a href="/contact" id="contact" class="btn btn-default btn-circle"><i class="fas fa-user-circle"
                        style="text-shadow: 2px 2px 5px #000;"></i></a>
            </div>
            <br>
        </div>
    </div>
</div>
<br><br><br><br><br><br>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">

        {{!-- For each value retrived from database generates below div elements --}}
        {{#each result}}
        <div class="d-inline-flex flex-row bd-highlight mb-3 imgBtn">
            <button type="button" class="btn text-center website modal-trigger" id="imgBtnofBtn" data-id={{id}}>
                <img src={{IMAGE}} class="img-responsive img-thumbnail" alt="TrainSchedule">
                <div class="text">{{NAME}}</div>
            </button>
        </div>
        {{!-- Modal --}}

        <div class="modal fade" id={{id}} tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">{{NAME}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {{DESC}}
                        <hr>
                        <a href={{LINK}}>{{NAME}}</a>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
    <div class="col-md-2"></div>
</div>

<!-- Footer -->
<div class="row">
    <div class="col-md-12">
        <footer id="sticky-footer" class="py-4 bg-dark text-white-50 shadow-lg p-3 mt-0 bg-dark rounded">
            <div class="container text-center">
                <a href="/form" id="contact" class="btn btn-default btn-circle"><i class="fas fa-poll-h"
                        style="text-shadow: 2px 2px 5px #000;"></i></a>
            </div>
        </footer>
    </div>
</div>